{% extends 'core/base.html' %}
{% load static %}
{% load tags %}
{% load i18n %}


{% block content %}
<!-- =========================== Breadcrumbs =================================== -->
<div class="breadcrumbs_wrap dark">
	<div class="container">
		<div class="row align-items-center">

			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="text-center">
					<h2 class="breadcrumbs_title">{% trans "Məhsullar" %}</h2>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url "index_view" %}"><i class="ti-home"></i></a></li>
							<li class="breadcrumb-item active" aria-current="page">{% trans "Məhsullar" %}</li>
						</ol>
					</nav>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- =========================== Breadcrumbs =================================== -->


<!-- =========================== Search Products =================================== -->
<section>
	<div class="container">

		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="filter_search_opt">
					<a href="javascript:void(0);" onclick="openFilterSearch()"><i class="ti-reload"></i></a>
				</div>
			</div>
		</div>

		<div class="row products-area">

			<!-- Single Product -->
			<div class="col-lg-3 col-md-12">
				<div class="search-sidebar sm-sidebar" id="filter_search" style="left:0;">
					<div class="search-sidebar_header">
						<h4 class="ssh_heading">Close Filter</h4>
						<button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i
								class="ti-close"></i></button>
					</div>
					<div class="search-sidebar-body">

					<form class="aa" action="">
						<!-- Categoriya filter-->
						<div class="single_search_boxed">
							<div class="widget-boxed-header category-header">
								<h4 class="ml-4 mt-4">Kateqoriyalar</h4>
							</div>
							<div class="widget-boxed-body">
								<div class="side-list no-border">
									<div class="filter-card" id="shop-categories">

										{% for category in parent_null_categories %}
										<!-- Single Filter Card -->
										<div class="single_filter_card">
											<h5>
												<a href="#{{ category.slug }}" data-toggle="collapse" class="collapsed"
													aria-expanded="false" role="button">{{ category.title }}<i
														class="accordion-indicator ti-angle-down"></i></a>
											</h5>
									
											<div class="collapse" id="{{ category.slug }}" data-parent="#shop-categories">
												<div class="card-body">
													<div class="inner_widget_link">
														<ul>
															{% for sub_category in category.sub_categories.all %}
																<input id="{{ sub_category.slug }}" class="checkbox-custom" name="category" type="checkbox" value="{{ sub_category.slug }}" {% if sub_category.slug in selected_categories %}checked{% endif %}>
																<label for="{{ sub_category.slug }}" class="checkbox-custom-label">{{ sub_category.title }}</label>
															{% endfor %}
														</ul>
													</div>
												</div>
											</div>
										</div>
										{% endfor %}

									</div>
								</div>
							</div>
						</div>


						<!-- Price Range -->
						<div class="single_search_boxed">
							<div class="widget-boxed-header">
								<h4><a href="#pricing" data-toggle="collapse" aria-expanded="false"
										role="button">Qiymət</a></h4>
							</div>
							<dd class="odd">
									<input class="number" type="number" placeholder="min..." min="0" name="min_price" value="{{ min_price }}">
									<input class="number" type="number" placeholder="max..." min="0" name="max_price" value="{{ max_price }}">
							</dd>
						</div>

						{% for additional in parent_null_additionals %}
							<!-- Single Option -->
							<div class="single_search_boxed">
								<div class="widget-boxed-header">
									<h4><a href="#{{ additional.slug }}" data-toggle="collapse" aria-expanded="false"
											role="button">{{ additional.title }}</a></h4>
								</div>
								<div class="widget-boxed-body collapse show" id="{{ additional.slug }}" data-parent="#{{ additional.slug }}">
									<div class="side-list no-border">
										<!-- Single Filter Card -->
										<div class="single_filter_card">
											<div class="card-body pt-0">
												<div class="inner_widget_link">
													<ul class="no-ul-list">
														{% for sub_additional in additional.sub_additionals.all %}
															<li>
																<input id="{{ sub_additional.slug }}" class="checkbox-custom" name="additional" type="checkbox" value="{{ sub_additional.slug }}" {% if sub_additional.slug in selected_additionals %}checked{% endif %}>
																<label for="{{ sub_additional.slug }}" class="checkbox-custom-label">{{ sub_additional.title }}</label>
															</li>
														{% endfor %}
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						<button type="submit" class="w-100 btn btn-primary">{% trans "Filtirlə" %}</button>
					</form>

					</div>
				</div>
			</div>

			<div class="col-lg-9 col-md-12">

				<!-- Banner -->

				<!-- Shorter Toolbar -->
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="toolbar toolbar-products">
							<div class="toolbar-sorter sorter">
								Göstərir: <span>{{ products|length }}</span>
							</div>

							<div class="field limiter">
								<label class="label" for="limiter">
									<span>Sırala:</span>
								</label>
								<div class="control">
									<select id="limiter" data-role="limiter" class="limiter-options" onchange="changeOrdering(this.value)">
										<option class="hidn" {% if current_ordering == '-created_at' %}selected{% endif %}>{% trans "Önərilən sıralama" %}</option>
										<option value="title" {% if current_ordering == 'title' %}selected{% endif %}>{% trans "Məhsulun adı A-Z" %}</option>
										<option value="-title" {% if current_ordering == '-title' %}selected{% endif %}>{% trans "Məhsulun adı Z-A" %}</option>
										<option value="price" {% if current_ordering == 'price' %}selected{% endif %}>{% trans "Qiymət (Ucuzdan Bahaya)" %}</option>
										<option value="-price" {% if current_ordering == '-price' %}selected{% endif %}>{% trans "Qiymət (Bahadan Ucuza)" %}</option>
									</select>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- row -->
				<div class="row row-right">

					{% for product in products %}
					<!-- Single Item -->
					<div class="col-lg-3 col-md-3 col-sm-4 c-product-item">
						<div class="woo_product_grid">
							{% if product.is_new %}
							<span class="woo_pr_tag new">{% trans "Yeni" %}</span>
							{% endif %}
							{% if product.discounted_price %}
							<span class="woo_offer_sell">{{ product.discount.percent }}% {% trans "Endirim" %}</span>
							{% endif %}
							<div class="woo_product_thumb">
								<img style="aspect-ratio: 500/500;" src="{{ product.cover_image.url }}"
									class="img-fluid" alt="" />
							</div>
							<div class="woo_product_caption center">
								<div class="woo_rate">
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="woo_title">
									<h4 class="woo_pro_title"><a href="{% url "product_detail_view" slug=product.slug %}">{{ product.title }}</a>
									</h4>
								</div>
								<div class="woo_price">
									<h6>
									{% if product.discounted_price %}
										{{ product.discounted_price }} <i style="font-size: 14px;" class="fa-solid fa-manat-sign"></i>
										<span class="less_price">{{ product.price }} <i style="font-size: 12px;" class="fa-solid fa-manat-sign"></i></span>
									{% else %}
										{{ product.price }} <i style="font-size: 14px;" class="fa-solid fa-manat-sign"></i>
									{% endif %}
									</h6>
								</div>
							</div>
							<div class="woo_product_cart hover">
								<ul>
									<li><a href="{% url "product_detail_view" slug=product.slug %}" class="woo_cart_btn btn_cart"><i
												class="ti-eye"></i></a></li>

								</ul>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>

				<!-- Pagination -->
				{% if products.has_other_pages %}
				<div class="row">
					<div class="pagination" id="pagination-products" style="display: flex; justify-content: center;">

						{% if products.has_previous %}
							<a href="{% if request.GET|remove_param:'page' %}?{{ request.GET|remove_param:'page' }}&{% else %}?{% endif %}page=1" class="page-link" aria-label="first">&laquo;&laquo;</a>
							<a href="{% if request.GET|remove_param:'page' %}?{{ request.GET|remove_param:'page' }}&{% else %}?{% endif %}page={{ products.previous_page_number }}" class="page-link" aria-label="previous">&laquo;</a>
						{% endif %}

						{% for i in products.paginator.page_range %}
							{% if i > products.number|add:-3 and i < products.number|add:3 %}
								<a href="{% if request.GET|remove_param:'page' %}?{{ request.GET|remove_param:'page' }}&{% else %}?{% endif %}page={{ i }}" class="page-link {% if products.number == i %}active{% endif %}" style="{% if products.number == i %}background-color: #896827; color: white;{% endif %}">{{ i }}</a>
							{% endif %}
						{% endfor %}

						{% if products.has_next %}
							<a href="{% if request.GET|remove_param:'page' %}?{{ request.GET|remove_param:'page' }}&{% else %}?{% endif %}page={{ products.next_page_number }}" class="page-link" aria-label="next">&raquo;</a>
							<a href="{% if request.GET|remove_param:'page' %}?{{ request.GET|remove_param:'page' }}&{% else %}?{% endif %}page={{ products.paginator.num_pages }}" class="page-link" aria-label="last">&raquo;&raquo;</a>
						{% endif %}
					</div>
				</div>
				{% endif %}

			</div>

		</div>
	</div>
</section>
<!-- =========================== Search Products =================================== -->
{% endblock content %}	


{% block extra_js %}
<script>
    function changeOrdering(value) {
        const currentUrl = window.location.href;

        const urlParams = new URLSearchParams(window.location.search);

        // "ordering" ve "page" parametrlerini sil
		urlParams.delete('ordering');
		urlParams.delete('page');

        // secilen ordering deyerini parametrlere elave et
        if (value) {
            urlParams.append('ordering', value);
        }

        const newUrl = urlParams.toString() ? currentUrl.split('?')[0] + '?' + urlParams.toString() : currentUrl.split('?')[0];

        window.location.href = newUrl;
    }
</script>
{% endblock extra_js %}