{% load static %}
{% load tags %}
{% load i18n %}

{% get_site_info as site_info %}
<footer class="dark-footer skin-dark-footer style-2">
    <div class="before-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="single_facts">
                        <div class="facts_icon">
                            <i class="ti-shopping-cart"></i>
                        </div>
                        <div class="facts_caption">
                            <h4>Free Home Delivery</h4>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="single_facts">
                        <div class="facts_icon">
                            <i class="ti-money"></i>
                        </div>
                        <div class="facts_caption">
                            <h4>Money Back Guarantee</h4>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="single_facts last">
                        <div class="facts_icon">
                            <i class="ti-headphone-alt"></i>
                        </div>
                        <div class="facts_caption">
                            <h4>24x7 Online Support</h4>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer_widget">
                        <img class="logo-pics" src="{{ site_info.logo.url }}" alt="">
                        <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nobis, sequi aut sunt
                            ea
                            praesentium incidunt aliquam et ducimus illum quidem provident nesciunt dolorum
                            laborum
                            dicta eligendi quod modi recusandae?</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-2 footer_middle">
                    <div class="footer_widget">
                        <h4 class="widget_title">{% trans "Kateqoriyalar" %}</h4>
                        {% get_parent_null_categories as parent_null_categories %}
                        <ul class="footer-menu">
                            {% for category in parent_null_categories %}
                            {% if category.show_in_footer %}
                            <li>
                                <a href="{% url 'product_list_view' %}{% if category.sub_categories.all %}?{% for sub_category in category.sub_categories.all %}category={{ sub_category.slug }}{% if not forloop.last %}&{% endif %}{% endfor %}{% endif %}">
                                    {{ category.title }}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="footer_widget">
                        <h4 class="extream">{% trans "Bizimlə Əlaqə" %}</h4>

                        <div class="address_infos">
                            <ul>
                                {% if site_info.address %}
                                <li><i class="ti-home theme-cl"></i>{{ site_info.address }}</li>
                                {% endif %}
                                {% if site_info.phone_number1 %}
                                <li><i class="ti-headphone-alt theme-cl"></i>{{ site_info.phone_number1 }}</li>
                                {% endif %}
                                {% if site_info.email1 %}
                                <li><i class="fa-solid fa-envelope"></i>{{ site_info.email1 }}</li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 text-right">
                            <ul class="footer_social_links">
                                {% for link in site_info.social_media_links.all %}
                                {% if link.platform == 'facebook' %}
                                <li><a href="{{ link.url }}"><i class="ti-facebook"></i></a></li>
                                {% elif link.platform == 'instagram' %}
                                <li><a href="{{ link.url }}"><i class="ti-instagram"></i></a></li>
                                {% elif link.platform == 'linkedin' %}
                                <li><a href="{{ link.url }}"><i class="ti-linkedin"></i></a></li>
                                {% elif link.platform == 'tiktok' %}
                                <li><a href="{{ link.url }}"><i class="fa-brands fa-tiktok"></i></a></li>
                                {% elif link.platform == 'telegram' %}
                                <li><a href="{{ link.url }}"><i class="fa-brands fa-telegram"></i></a></li>
                                {% endif %}
                                {% endfor %}
                                {% if site_info.whatsapp %}
                                <li><a href="https://wa.me/{{ site_info.whatsapp }}"><i class="fa-brands fa-whatsapp"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div><br><br>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <p class="mb-0">©Copyright 2020 Odex. Designd By <a style="color:#d08a22;"
                            href="https://khanbutagroup.az/">KHANBUTAGROUP</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>