{% extends "core/base.html" %}
{% load static %}
{% load i18n %}


{% block img %}
	<title>{% for i in title_description_list %}{% if i.page_type == "home" %}{{ i.title }}{% endif %}{% endfor %}</title>
	<meta property="og:title" content="{% for i in title_description_list %}{% if i.page_type == "home" %}{{ i.title }}{% endif %}{% endfor %}">
	<meta property="og:description" content="{% for i in title_description_list %}{% if i.page_type == "home" %}{{ i.description }}{% endif %}{% endfor %}">
	<meta property="og:image" content="{{ site_info.url }}{{ site_info.header_logo.url }}">
	<meta property="og:url" content="{{ site_info.url }}{{ request.path }}">
	<meta property="og:type" content="website">
	<meta name="description" content="{% for i in title_description_list %}{% if i.page_type == "home" %}{{ i.description }}{% endif %}{% endfor %}">
{% endblock img %}


{% block content %}

{% if home_sliders %}
<!-- ======================== Banner Start ==================== -->
<section class="slider-section">
	<div id="carousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			{% for slider in home_sliders %}
			<li data-target="#carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
			{% endfor %}
		</ol> <!-- End of Indicators -->


		<!-- Carousel Content -->
		<div class="carousel-inner" role="listbox">

			{% for slider in home_sliders %}
			<div class="carousel-item{% if forloop.first %} active{% endif %}" style="background-image: url({{ slider.image.url }});">
				<div class="carousel-caption">
					<h2>{{ slider.title }}</h2>
					<div class="d-none d-md-block">
						<p>{{ slider.description }}</p>
					</div>
					{% if slider.button_text or slider.button_link %}
						<a {% if slider.button_link %}href="{{ slider.button_link }}"{% endif %} class="btn btn-theme product-link">{{ slider.button_text }}<i
								class="ti-arrow-right ml-2"></i></a>
					{% endif %}
				</div>
			</div> <!-- End of Carousel Item -->
			{% endfor %}

		</div> <!-- End of Carousel Content -->

		<!-- Previous & Next -->
		<a href="#carousel" class="carousel-control-prev" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only"></span>
		</a>
		<a href="#carousel" class="carousel-control-next" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only"></span>
		</a>
	</div> <!-- End of Carousel -->
</section>
<!-- ======================== Banner End ==================== -->
{% endif %}

<!-- ======================== Choose Category Start ==================== -->
<section class="pt-lg-5 pt-4  pb-0">
	<div class="container">

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="owl-carousel category-slider owl-theme">

					{% for home_category in home_product_categories %}
					<!-- Single Item -->
					<div class="item">
						<div class="woo_category_box border_style rounded">
							<div class="woo_cat_thumb">
								<a 
								{% if not home_category.parent %}
									href="{% url 'product_list_view' %}{% if home_category.sub_categories.all %}?{% for sub_category in home_category.sub_categories.all %}category={{ sub_category.slug }}{% if not forloop.last %}&{% endif %}{% endfor %}{% endif %}"
								{% else %}
									href="{% url 'product_list_view' %}?category={{ home_category.slug }}"
								{% endif %}
								><img class="category-img img-fluid" src="{{ home_category.image.url }}"
										alt="" /></a>
							</div>
							<div class="woo_cat_caption">
								<h4><a href="#">{{ home_category.title }}</a></h4>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>

	</div>
</section>

<div class="clearfix"></div>
<!-- ======================== Choose Category End ==================== -->

<!-- ======================== Fresh Vegetables Start ==================== -->
<section class="cen-mid">
	<div class="container">

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="sec-heading center">
					<span class="theme-cl">{% trans "Evinizdə Təzə Meyvələr" %}</span>
					<h2 class="grocery_title">{% trans "Online Mağaza" %}</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="row">


					{% for home_product in home_products %}
					<!-- Single Item -->
					<div class="col-lg-3 col-md-4 col-sm-6 col-6">
						<div class="woo_product_grid">
							{% if home_product.is_new %}
							<span class="woo_pr_tag new">Yeni</span>
							{% endif %}
							{% if home_product.discounted_price %}
							<span class="woo_offer_sell">{{ home_product.discount.percent }}% {% trans "Endirim" %}</span>
							{% endif %}
							<div class="woo_product_thumb">
								<img src="{{ home_product.cover_image.url }}"
									class="img-fluid" alt="" />
							</div>
							<div class="woo_product_caption center">
								<div class="woo_rate">
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="woo_title">
									<h4 class="woo_pro_title"><a href="{% url "product_detail_view" home_product.slug %}">{{ home_product.title }}</a>
									</h4>
								</div>
								<div class="woo_price">
									<h6>
										{% if home_product.discounted_price %}
										{{ home_product.discounted_price }} <i style="font-size: 14px;" class="fa-solid fa-manat-sign"></i>
										<span class="less_price">{{ home_product.price }} <i style="font-size: 12px;" class="fa-solid fa-manat-sign"></i></span>
										{% else %}
											{{ home_product.price }} <i style="font-size: 14px;" class="fa-solid fa-manat-sign"></i>
										{% endif %}
									</h6>
								</div>
							</div>
							<div class="woo_product_cart hover">
								<ul>
									<li><a href="{% url "product_detail_view" home_product.slug %}" class="woo_cart_btn btn_cart"><i
												class="ti-eye"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<!-- ======================== Fresh Vegetables End ==================== -->

{% if home_banner %}
<!-- =========================== Customer Reviews =================================== -->
<section class="bg-cover video-area" style="background:#eff8e7 url({{ home_banner.background_image.url }}) no-repeat">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-10 col-sm-12">
				<div class="sec-heading">
					<div class="sec-heading center">
						<span class="theme-cl">{{ home_banner.description }}</span>
						<h2 class="grocery_title">{{ home_banner.title }}</h2>
						<a {% if home_banner.link %}href="{{ home_banner.link }}"{% endif %}>
							<div class="col-lg-6 col-md-12 col-sm-12 ml-auto">
								<div class="about_video avto">
									<div class="thumb">
										<img class="pro_img img-fluid w100" src="{{ home_banner.image.url }}"
											alt="banner">
									</div>
								</div>
							</div>
						</a>

					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- =========================== Customer Reviews =================================== -->
{% endif %}

<!-- ======================== Fresh & Fast Fruits Start ==================== -->

{% for home_category in home_product_categories %}
	{% if home_category.active_home_products %}
		<section>
			<div class="container">

				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="sec-heading-flex pl-2 pr-2">
							<div class="sec-heading-flex-one">
								<h2>{{ home_category.title }}</h2>
							</div>
							<div class="sec-heading-flex-last">
								<a 
								{% if not home_category.parent %}
									href="{% url 'product_list_view' %}{% if home_category.sub_categories.all %}?{% for sub_category in home_category.sub_categories.all %}category={{ sub_category.slug }}{% if not forloop.last %}&{% endif %}{% endfor %}{% endif %}"
								{% else %}
									href="{% url 'product_list_view' %}?category={{ home_category.slug }}"
								{% endif %}
								class="btn btn-theme">{% trans "Daha çox bax" %}<i class="ti-arrow-right ml-2"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="owl-carousel products-slider owl-theme">

							{% for product in home_category.active_home_products %}
							<!-- Single Item -->
							<div class="item">
								<div class="woo_product_grid">
									{% if product.is_new %}
									<span class="woo_pr_tag new">Yeni</span>
									{% endif %}
									{% if product.discounted_price %}
									<span class="woo_offer_sell">{{ product.discount.percent }}% {% trans "Endirim" %}</span>
									{% endif %}
									<div class="woo_product_thumb">
										<img src="{{ product.cover_image.url }}" class="img-fluid" alt="" />
									</div>
									<div class="woo_product_caption center">
										<div class="woo_rate">
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="woo_title">
											<h4 class="woo_pro_title"><a href="{% url "product_detail_view" slug=product.slug %}">{{ product.title }}</a>
											</h4>
										</div>
										<div class="woo_price">
											<h6>
												{% if product.discounted_price %}
												{{ product.discounted_price }} <i style="font-size: 14px;" class="fa-solid fa-manat-sign"></i>
												<span class="less_price">{{ product.price }} <i style="font-size: 12px;" class="fa-solid fa-manat-sign"></i></span>
												{% else %}
													{{ product.price }} <i style="font-size: 14px;" class="fa-solid fa-manat-sign"></i>
												{% endif %}
											</h6>
										</div>
									</div>
									<div class="woo_product_cart hover">
										<ul>
											<li><a href="{% url "product_detail_view" slug=product.slug %}" class="woo_cart_btn btn_cart"><i
														class="ti-eye"></i></a></li>

										</ul>
									</div>
								</div>
							</div>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endfor %}


<div class="clearfix"></div>
<!-- ======================== Fresh & Fast Fruits End ==================== -->

<!-- ======================== Offer Banner Start ==================== -->

<section>
	<div class="container">

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="sec-heading-flex pl-2 pr-2">
					<div class="sec-heading-flex-one">
						<h2>{% trans "Sonuncu Bloqlar" %}</h2>
					</div>
					<div class="sec-heading-flex-last">
						<a href="{% url "blog_list_view" %}" class="btn btn-theme">{% trans "Daha çox bax" %}<i class="ti-arrow-right ml-2"></i></a>
					</div>
				</div>
			</div>
		</div>

		<section class="offer-banner-wrap gray mt-0">

			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="owl-carousel banner-offers owl-theme">

							{% for blog in latest_blogs %}
							<!-- Single Item -->
							<div class="col-lg-12 col-md-12 ">
								<article class="post-grid-layout">
									<a href="blog-detail.html">
										<div class="post-article-header">
											<img src="{{ blog.cover_image.url }}"
												class="img-fluid mx-auto" alt="">
										</div>
									</a>
									<div class="post-article box-inner">
										<div class="post-grid-caption-header">
											<span class="post-article-cat theme-bg">{{ blog.category.title }}</span>
											<h4 class="entry-title"><a href="{% url "blog_detail_view" slug=blog.slug %}">{{ blog.title }}</a></h4>
											<div class="post-short-des">
												<p>{{ blog.short_description }}</p>
											</div>
										</div>
									</div>
									<div class="post-article-footer">
										<span><i class="ti-calendar mr-1"></i>{{ blog.created_at|date:"d.m.Y" }}</span>
									</div>
								</article>
							</div>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>


	</div>
</section>

<div class="clearfix"></div>
<!-- ======================== Offer Banner End ==================== -->

<!-- ======================== Fresh Vegetables & Fruits Start ==================== -->

<br><br>
<div class="clearfix"></div>
<!-- ======================== Fresh Vegetables & Fruits End ==================== -->
{% endblock content %}
