{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<!-- =========================== Breadcrumbs =================================== -->
<div class="breadcrumbs_wrap dark">
	<div class="container">
		<div class="row align-items-center">

			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="text-center">
					<h2 class="breadcrumbs_title">News & Articles</h2>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#"><i class="ti-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">Shop</a></li>
							<li class="breadcrumb-item active" aria-current="page">Blogs</li>
						</ol>
					</nav>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- =========================== Breadcrumbs =================================== -->


<!-- =========================== News & Articles =================================== -->
<section class="gray">
	<div class="container articles">
		<div class="row">
			
			<!-- Blog Post List -->
			{% include "blog/includes/_blog_posts_partial.html" %}
			<!-- END Blog Post List -->
			
		</div>

		{% if blog_posts.has_other_pages %}
		<div class="col-md-12 col-md-12 text-center">
			<a class="btn btn-theme rounded more-btn" id="load-more-btn">Daha çox</a>
		</div>
		{% endif %}

	</div>
</section>
<!-- =========================== News & Articles =================================== -->


<!-- ============================ Call To Action ================================== -->
<section class="theme-bg call_action_wrap-wrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<div class="call_action_wrap">
					<div class="call_action_wrap-head">
						<h3>Do You Have Questions ?</h3>
						<span>We'll help you to grow your career and growth.</span>
					</div>
					<div class="newsletter_box">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Subscribe here...">
							<div class="input-group-append">
								<button class="btn search_btn" type="button"><i
										class="fas fa-arrow-alt-circle-right"></i></button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- ============================ Call To Action End ================================== -->
{% endblock content %}


{% block extra_js %}
<script>
	document.addEventListener('DOMContentLoaded', function () {
		var page = 2;
		var loadMoreBtn = document.getElementById('load-more-btn');
	
		if (loadMoreBtn) {
			loadMoreBtn.addEventListener('click', function () {
				// URL'ye elave edilecek parametrleri yarat
				var urlParams = `?page=${page}`;
	
				if ("{{ category_slug }}" !== "") {
					urlParams += `&category={{ category_slug }}`;
				}
	
				if ("{{ query }}" !== "") {
					urlParams += `&query={{ query }}`;
				}
	
				var url = `${window.location.origin}${window.location.pathname}${urlParams}`;
	
				fetch(url, {
					method: 'GET',
					headers: {
						'Content-Type': 'application/json',
						'X-Requested-With': 'XMLHttpRequest'
					},
				})
				.then(response => {
					if (!response.ok) {
						throw new Error(`HTTP error! Status: ${response.status}`);
					}
					return response.json();
				})
				.then(data => {
					var container = document.querySelector('.container.articles .row');
					container.innerHTML += data.html_content;
					page += 1;
	
					// Daha cox blog yoxdursa butonu sil
					if (!data.has_next_page) {
						loadMoreBtn.remove();
					}
				})
				.catch(error => {
					console.error('ERROR:', error);
				});
			});
		}
	});	
</script>
{% endblock extra_js %}