{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<!-- =========================== Breadcrumbs =================================== -->
<div class="breadcrumbs_wrap dark">
	<div class="container">
		<div class="row align-items-center">

			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="text-center">
					<h2 class="breadcrumbs_title">{% trans "Xəbərlər & Məqalələr" %}</h2>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#"><i class="ti-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">{% trans "Mağaza" %}</a></li>
							<li class="breadcrumb-item active" aria-current="page">{% trans "Bloqlar" %}</li>
						</ol>
					</nav>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- =========================== Breadcrumbs =================================== -->


<!-- =========================== News & Articles =================================== -->
<section class="gray">
	<div class="container articles">
		<div class="row">
			
			<!-- Blog Post List -->
			{% include "blog/includes/_blog_posts_partial.html" %}
			<!-- END Blog Post List -->
			
		</div>

		{% if blog_posts.has_other_pages %}
		<div class="col-md-12 col-md-12 text-center">
			<a class="btn btn-theme rounded more-btn" id="load-more-btn">{% trans "Daha çox" %}</a>
		</div>
		{% endif %}

	</div>
</section>
<!-- =========================== News & Articles =================================== -->
{% endblock content %}


{% block extra_js %}
<script>
	document.addEventListener('DOMContentLoaded', function () {
		var page = 2;
		const loadMoreBtn = document.getElementById('load-more-btn');
	
		if (loadMoreBtn) {
			loadMoreBtn.addEventListener('click', function () {
				// URL'ye elave edilecek parametrleri yarat
				if (window.location.search === "") {
					urlParams = `?page=${page}`;
				} else {
					urlParams = `${window.location.search}&page=${page}`;
				}

				var url = `${window.location.origin}${window.location.pathname}${urlParams}`;
	
				fetch(url, {
					method: 'GET',
					headers: {
						'Content-Type': 'application/json',
						'X-Requested-With': 'XMLHttpRequest'
					},
				})
				.then(response => {
					if (!response.ok) {
						throw new Error(`HTTP error! Status: ${response.status}`);
					}
					return response.json();
				})
				.then(data => {
					var container = document.querySelector('.container.articles .row');
					container.innerHTML += data.html_content;
					page += 1;
	
					// Daha cox blog yoxdursa butonu sil
					if (!data.has_next_page) {
						loadMoreBtn.remove();
					}
				})
				.catch(error => {
					console.error('ERROR:', error);
				});
			});
		}
	});	
</script>
{% endblock extra_js %}